{% load static %}
{% load humanize %}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ meal.name }} - Recipe Card</title>
<body>
  <div class="container">
		<div class="logo_block">
			<img src="http://{{ site_url }}/static/site/logo.png" id='site_logo' alt="logo">
			<p class='brand'>Meal Planner</p>
		</div>
		<div class="header_area">
			<div class="name_block">
				<h3 class="underline heading">{{ meal.name }}</h3>
				<h5>{{ meal.related_category }}</h5>
				<br>
				<br>
				<h4><span class='heading'>Prep Time:</span> {{ meal.prep_time }} mins</h4>
				<h4><span class='heading'>Cook Time:</span> {{ meal.cook_time }} mins</h4>
			</div>
			<div class="ing_block">
				<h3 class="underline heading">Ingredients</h3>
				<div class="ing_list">
					<ul>
						{% for i in ingredients %}
						<li>
							{% if i.unit == '1' %}
								{{ i.amount|floatformat:'-2' }} {{ i.related_ingredient }}{% if i.amount > 1 %}s{% endif %}
							{% else %}
								{{ i.related_ingredient }} ({{ i.amount|floatformat:'-2' }} {{ i.get_unit_display }}{% if i.amount >= 1 %}s{% endif %})
							{% endif %}
						</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<div class="recipe_area">
			<h3 class="underline heading">Recipe</h3>
			{{ meal.recipe|safe }}
		</div>
		<div class="note_area">
			<h3 class="underline heading">Notes</h3>
			{{ meal.notes|safe }}
		</div>
  </div>
	<footer id="footer-area" class="footer">
		<p class=""> 2021 Chris Lowe.</p>
	</footer>
</body>
