@page {
      size: A4;
      margin: 0px ;
  }
@media print {
  .page_copy {
    page-break-before: always;
  }
}
body {
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: block;
}
p {
  font-size: 10px;
}

.brand {
  color: rgba(0,0,0,.9);
  font-size: 16px;
  margin-left: 10px;
  line-height: inherit;
  white-space: nowrap;
  align-items: center;
}
.container {
  margin: 10% 5%;
  width: 90%;
}
.heading {
  color: #ff764e;
}
.header_area, .logo_block {
  display: flex;
  align-items: center;
}
.header_block {
  justify-content: space-between !important;
  display: flex;
}
.footer_block {
  padding: 20px;
  margin: 10px 0px 0px 10px;
}
#site_logo {
  margin-left: 15%;
  width: 50px;
  height: 50px;
}
.header_block #site_logo {
  margin-right: 45%;
}
.recipe_area, .name_block, .ing_block, .note_area, .sum_ing_block, .sum_name_block {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 20px;
  margin: 10px 0px 0px 10px;
  min-height: 200px;
  font-size: 12px;
}
.ing_block {
  width: 65%;
}
.name_block {
  width: 35%;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li::before {
    content: '\2022';
    padding-right: 1em;
    color: #ff764e;
}
.name_block {
  flex-grow: 1;
}
.underline {
  border-bottom: 1px solid #e1e1e1;
  padding-bottom: 3px;
}
/* FOOTER */
.footer {
  position: absolute;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #ff764e;
  color: white;
}
#footer-area {
    height: 50px;
    background-color: #ff764e;
    margin: 0px;
    color: white;

}
