{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4 col-xl-2 px-1">
    <div class="jumbotron day_summary">
      <h4 class='border-bottom'>Monday</h4>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-2 px-1">
    <div class="jumbotron day_summary">
      <h4 class='border-bottom'>Tuesday</h4>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-2 px-1">
    <div class="jumbotron day_summary">
      <h4 class='border-bottom'>Wednesday</h4>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-2 px-1">
    <div class="jumbotron day_summary">
      <h4 class='border-bottom'>Thursday</h4>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-2 px-1">
    <div class="jumbotron day_summary">
      <h4 class='border-bottom'>Friday</h4>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4 col-xl-2 px-1">
    <div class="jumbotron day_summary">
      <h4 class='border-bottom'>Saturday</h4>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-2 px-1">
    <div class="jumbotron day_summary">
      <h4 class='border-bottom'>Sunday</h4>
    </div>
  </div>
</div>
{% endblock content %}
