{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% load crispy_forms_tags %}
{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4 col-xl-2 px-1">
    <div class="jumbotron">
      <h1>Monday</h1>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-2 px-1">
    <div class="jumbotron">
      <h1>Tuesday</h1>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-2 px-1">
    <div class="jumbotron">
      <h1>Wednesday</h1>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-2 px-1">
    <div class="jumbotron">
      <h1>Thursday</h1>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-2 px-1">
    <div class="jumbotron">
      <h1>Friday</h1>
    </div>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-6 col-lg-4 col-xl-2 px-1">
    <div class="jumbotron">
      <h1>Saturday</h1>
    </div>
  </div>
  <div class="col-md-6 col-lg-4 col-xl-2 px-1">
    <div class="jumbotron">
      <h1>Sunday</h1>
    </div>
  </div>
</div>
{% endblock content %}
